<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">

            <h3 class="title">Edit <%= resource_name.to_s.humanize %></h3>
          </div>

          <div class="content">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.input :name, required: true, class: "form-control", label: "First Name"%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.input :lastname, required: true, class: "form-control", label: "Last Name"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <%= f.input :managementimage, as: :file,  class: "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%=  f.input :email, required: true, autofocus: true, class: "form-control", label: "Email"%>
                </div>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%=f.input :password, class: "form-control", autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.input :password_confirmation, required: false, class: "form-control"%>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.input :address, required: true, class: "form-control", label: "Address" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.input :country, :as => :select, collection: ["Afghanistan",
                    "Aland Islands",
                    "Albania",
                    "Algeria",
                    "American Samoa",
                    "Andorra",
                    "Angola",
                    "Anguilla",
                    "Antarctica",
                    "Antigua And Barbuda",
                    "Argentina",
                    "Armenia",
                    "Aruba",
                    "Australia",
                    "Austria",
                    "Azerbaijan",
                    "Bahamas",
                    "Bahrain",
                    "Bangladesh",
                    "Barbados",
                    "Belarus",
                    "Belgium",
                    "Belize",
                    "Benin",
                    "Bermuda",
                    "Bhutan",
                    "Bolivia",
                    "Bosnia and Herzegowina",
                    "Botswana",
                    "Bouvet Island",
                    "Brazil",
                    "British Indian Ocean Territory",
                    "Brunei Darussalam",
                    "Bulgaria",
                    "Burkina Faso",
                    "Burundi",
                    "Cambodia",
                    "Cameroon",
                    "Canada",
                    "Cape Verde",
                    "Cayman Islands",
                    "Central African Republic",
                    "Chad",
                    "Chile",
                    "China",
                    "Christmas Island",
                    "Cocos (Keeling) Islands",
                    "Colombia",
                    "Comoros",
                    "Congo",
                    "Congo, the Democratic Republic of the",
                    "Cook Islands",
                    "Costa Rica",
                    "Cote d'Ivoire",
                    "Croatia",
                    "Cuba",
                    "Cyprus",
                    "Czech Republic",
                    "Denmark",
                    "Djibouti",
                    "Dominica",
                    "Dominican Republic",
                    "Ecuador",
                    "Egypt",
                    "El Salvador",
                    "Equatorial Guinea",
                    "Eritrea",
                    "Estonia",
                    "Ethiopia",
                    "Falkland Islands (Malvinas)",
                    "Faroe Islands",
                    "Fiji",
                    "Finland",
                    "France",
                    "French Guiana",
                    "French Polynesia",
                    "French Southern Territories",
                    "Gabon",
                    "Gambia",
                    "Georgia",
                    "Germany",
                    "Ghana",
                    "Gibraltar",
                    "Greece",
                    "Greenland",
                    "Grenada",
                    "Guadeloupe",
                    "Guam",
                    "Guatemala",
                    "Guernsey",
                    "Guinea",
                    "Guinea-Bissau",
                    "Guyana",
                    "Haiti",
                    "Heard and McDonald Islands",
                    "Holy See (Vatican City State)",
                    "Honduras",
                    "Hong Kong",
                    "Hungary",
                    "Iceland",
                    "India",
                    "Indonesia",
                    "Iran, Islamic Republic of",
                    "Iraq",
                    "Ireland",
                    "Isle of Man",
                    "Israel",
                    "Italy",
                    "Jamaica",
                    "Japan",
                    "Jersey",
                    "Jordan",
                    "Kazakhstan",
                    "Kenya",
                    "Kiribati",
                    "Korea, Democratic People's Republic of",
                    "Korea, Republic of",
                    "Kuwait",
                    "Kyrgyzstan",
                    "Lao People's Democratic Republic",
                    "Latvia",
                    "Lebanon",
                    "Lesotho",
                    "Liberia",
                    "Libyan Arab Jamahiriya",
                    "Liechtenstein",
                    "Lithuania",
                    "Luxembourg",
                    "Macao",
                    "Macedonia, The Former Yugoslav Republic Of",
                    "Madagascar",
                    "Malawi",
                    "Malaysia",
                    "Maldives",
                    "Mali",
                    "Malta",
                    "Marshall Islands",
                    "Martinique",
                    "Mauritania",
                    "Mauritius",
                    "Mayotte",
                    "Mexico",
                    "Micronesia, Federated States of",
                    "Moldova, Republic of",
                    "Monaco",
                    "Mongolia",
                    "Montenegro",
                    "Montserrat",
                    "Morocco",
                    "Mozambique",
                    "Myanmar",
                    "Namibia",
                    "Nauru",
                    "Nepal",
                    "Netherlands",
                    "Netherlands Antilles",
                    "New Caledonia",
                    "New Zealand",
                    "Nicaragua",
                    "Niger",
                    "Nigeria",
                    "Niue",
                    "Norfolk Island",
                    "Northern Mariana Islands",
                    "Norway",
                    "Oman",
                    "Pakistan",
                    "Palau",
                    "Palestinian Territory, Occupied",
                    "Panama",
                    "Papua New Guinea",
                    "Paraguay",
                    "Peru",
                    "Philippines",
                    "Pitcairn",
                    "Poland",
                    "Portugal",
                    "Puerto Rico",
                    "Qatar",
                    "Reunion",
                    "Romania",
                    "Russian Federation",
                    "Rwanda",
                    "Saint Barthelemy",
                    "Saint Helena",
                    "Saint Kitts and Nevis",
                    "Saint Lucia",
                    "Saint Pierre and Miquelon",
                    "Saint Vincent and the Grenadines",
                    "Samoa",
                    "San Marino",
                    "Sao Tome and Principe",
                    "Saudi Arabia",
                    "Senegal",
                    "Serbia",
                    "Seychelles",
                    "Sierra Leone",
                    "Singapore",
                    "Slovakia",
                    "Slovenia",
                    "Solomon Islands",
                    "Somalia",
                    "South Africa",
                    "South Georgia and the South Sandwich Islands",
                    "Spain",
                    "Sri Lanka",
                    "Sudan",
                    "Suriname",
                    "Svalbard and Jan Mayen",
                    "Swaziland",
                    "Sweden",
                    "Switzerland",
                    "Syrian Arab Republic",
                    "Taiwan, Province of China",
                    "Tajikistan",
                    "Tanzania, United Republic of",
                    "Thailand",
                    "Timor-Leste",
                    "Togo",
                    "Tokelau",
                    "Tonga",
                    "Trinidad and Tobago",
                    "Tunisia",
                    "Turkey",
                    "Turkmenistan",
                    "Turks and Caicos Islands",
                    "Tuvalu",
                    "Uganda",
                    "Ukraine",
                    "United Arab Emirates",
                    "United Kingdom",
                    "United States",
                    "United States Minor Outlying Islands",
                    "Uruguay",
                    "Uzbekistan",
                    "Vanuatu",
                    "Venezuela",
                    "Viet Nam",
                    "Virgin Islands, British",
                    "Virgin Islands, U.S.",
                    "Wallis and Futuna",
                    "Western Sahara",
                    "Yemen",
                    "Zambia",
                    "Zimbabwe"],
                    class: "form-control", label: "Country" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.input :postalcode, class: "form-control", label: "Postal code/Zip code" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.input :position, required: true, class: "form-control", label: "Company Position" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :bio, class: "form-control", label: "Bio", as: :text, row: "7", cols: "20" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.input :links, label: "facebook link" %>
                  </div>
                </div>

              </div>




              <div class="form-group">
                <%= f.button :submit, "Update", class: "btn btn-info btn-fill pull-right" %>
              </div>
              <% end %>

              <h4>Cancel my account</h4>

              <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>


              <div class="col-md-4">
                <div class="card card-user">
                  <div class="image">
                    <%= image_tag "Ban2.png", class: 'img-responsive' %>
                  </div>
                  <div class="content">
                    <div class="author">
                      <a href="#">
                        <%= image_tag (@current_management.managementimage_url.to_s), class: "avatar border-gray" %>

                        <h4 class="title"><%= @current_management.name %><br />
                          <small><%= @current_management.email %></small>
                        </h4>
                      </a>
                    </div>
                    <p class="description text-center"> <%= @current_management.position %> <br>

                    </p>
                      <div  class="content text-center">
                        <%= raw(@current_management.bio)%></br>
                      </div>
                  </div>
                  <hr>
                  <div class="text-center">
                    <button href="https://facebook.com/<%= @current_management.links %>"
                      class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
