<!-- Preloader--> <div id="preloader">
    <div class="loader"></div>
</div>
<%= render "shared/banner" %>
<!-- Main -->
<main class="main-container">

    <!-- Section: About -->
    <section id="about" class="section">
        <div class="container">

            <!-- Section Header -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                        <h2 class="section-title underline">We Are All About Innovation And Customer Exprience </h2>
                        <p class="section-subtitle">
                        We Challenge You To Work With Us To Create A Lasting Brand, Launch Your Dream And Do Something Special
                        <br>
                  Zonia offers the expertly crafted disruption that’ll take you to the next level
                        </p>
                    </header>
                </div>
            </div>
            <!-- /Section Header -->

            <!-- Section Content -->
            <div class="row section-content">

                <!-- About Block -->
                <div class="col-md-3 col-sm-6 col animated fadeIn wow" data-wow-duration="0.9s">
                    <span class="icon icon_link"></span>
                    <h3 class="title">Web Design</h3>
                    <p class="description">
                      A website reflects the brand it is built for and the emotional attachment behind it  and we let you create it to the best of your imagination and more by blendng different technologies as per your business's unique requirements and needs
                    </p>
                </div>
                <!-- /About Block -->

                <!-- About Block -->
                <div class="col-md-3 col-sm-6 col animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.2s">
                    <i class="icon icon_cloud_alt"></i>
                    <h3 class="title">Full Stack Web & Mobile App  Development</h3>
                    <p class="description">
                      We priorite the develpment of real-time , customized and easy to use mobile and web applications that ensure the growth of your business through enhanced performance on different platforms
                    </p>
                </div>
                <!-- /About Block -->

                <!-- About Block -->
                <div class="col-md-3 col-sm-6 col animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.4s">
                    <span class="icon icon_easel"></span>
                    <h3 class="title"> Digital Marketing And  SEO Optimization</h3>
                    <p class="description">
                       We expose your brand across the web by implementing the best digital and marketing strategies and updating them to the lastest alogrithm and mordern advertisment methods in real time

                        </p>
                </div>
                <!-- /About Block -->

                <!-- About Block -->
                <div class="col-md-3 col-sm-6 col animated fadeIn wow" data-wow-duration="0.9s" data-wow-delay="0.6s">
                    <span class="icon icon_camera"></span>
                    <h3 class="title">Photography And Branding  </h3>
                    <p class="description">
                      We breathe life into your company story, developing branding that advances your message and forms a distinct image. While each phase moves your brand somewhere new and exciting. We Make Sure Your Brand Suits thr Consumers Requests
                    </p>
                </div>
                <!-- /About Block -->


            </div>
            <!-- /Section Content -->

        </div>
    </section>
    <!-- /Section: About -->
    <%= render 'shared/projects' %>



    <section id="services" class="section">
      <div class="container">

          <!-- Section Header -->
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <header class="text-center">
                      <h2 class="section-title underline"> Our Services</h2>
                      <p class="section-subtitle">
                        Let us maximize your business potential
with the latest and innovative technologies
                      </p>
                  </header>
              </div>
          </div>
          <!-- /Section Header -->

          <!-- Section Content -->
          <div class="row section-content">

              <!-- Service Block -->
              <div class="service clearfix">

                  <!-- Service Image -->
                  <div class="col-sm-5 col-sm-offset-1 col-xs-12 hidden-xs animated fadeInLeft wow" data-wow-duration="1.5s">
                      <div class="image">
                          <%= image_tag 'devices.png' %>
                      </div>
                  </div>
                  <!-- /Service Image -->

                  <!-- Service Description -->
                  <div class="col-sm-5 col-xs-12 animated fadeIn wow" data-wow-duration="0.9s">
                      <h3 class="title">Web Design Full Stack Web & Mobile Development </h3>
                      <p class="description">
                        Versed in different web technologies
                        our developers analyze your business and brand requirements and deliver the best solutions
                        while prioritizing your satisfaction
                        We design functional interfaces for an aesthetically pleasing digital presence that helps tell your story and boosts brand performance. Each site page and app screen relays an intuitive UX/UI design that maximizes visitor interaction with the help of data-driven research. We’re attuned to the trends and as responsive as our design – helping you engage consumers across the digital landscape.

                          </p>
                      <a href="#" class="btn btn-theme" data-toggle="modal" data-target="#get-in-touch">Get In Touch</a>
                  </div>
                  <!-- /Service Description -->

              </div>
              <!-- /Service Block -->

              <!-- Service Block -->
              <div class="service clearfix">

                  <!-- Service Description -->
                  <div class="col-sm-5 col-sm-offset-1 col-xs-12 animated fadeIn wow" data-wow-duration="0.9s">
                      <h3 class="title">Cloud Hosting & Storage services </h3>
                      <p class="description">
               You need not look too far or worry about hosting servers, Instances or storage.
               we always suggest which one is best suited for your Web App,
                Mobile App or where to keep files. We could do the heavy lifting for your  ideas


                      </p>
                      <a href="#" class="btn btn-theme" data-toggle="modal" data-target="#get-in-touch">Get In Touch</a>
                  </div>
                  <!-- /Service Description -->

                  <!-- Service Image -->
                  <div class="col-sm-5 col-xs-12 hidden-xs animated fadeInRight wow" data-wow-duration="1.5s">
                      <div class="image">
                          <%= image_tag "frontend.png" %>
                      </div>
                  </div>
                  <!-- /Service Image -->

              </div>
              <!-- /Service Block -->

              <!-- Service Block -->
              <div class="service clearfix">

                  <!-- Service Image -->
                  <div class="col-sm-5 col-sm-offset-1 col-xs-12 hidden-xs animated fadeInLeft wow" data-wow-duration="1.5s">
                      <div class="image">
                            <%= image_tag "plot.png" %>
                      </div>
                  </div>
                  <!-- /Service Image -->

                  <!-- Service Description -->
                  <div class="col-sm-5 col-xs-12 animated fadeIn wow" data-wow-duration="0.9s">
                      <h3 class="title">Digital Marketing &SEO Optimization</h3>
                      <p class="description">
                        We take your brand, platform, and the business you’ve worked so hard to build out into the world through campaigns. And we’re not just throwing you to the wolves, mind you, but rather preparing you to go to market with a sound lead generation strategy and the metrics to back it up. That way, when we help you achieve exposure through expert placement, execution, and delivery, the creative concepts and overarching campaigns will stick with your consumers.  </p>
                      <a href="#" class="btn btn-theme" data-toggle="modal" data-target="#get-in-touch">Get In Touch</a>
                  </div>
                  <!-- /Service Description -->

              </div>
              <!-- /Service Block -->

          </div>
          <!-- /Section Content -->

      </div>
    </section>
  <section class="section trigger mask" style="background-image: url(<%= asset_path ('get-start-now.jpg') %>)" data-stellar-background-ratio="0.6">
      <div class="container">
          <div class="row">

              <div class="col-md-6 col-md-offset-3 text-center animated bounceIn wow" data-wow-duration="1.5s">

                  <h2 class="trigger-title text-white"> Get 25% Referral Bonus Now </h2>
                  <p class="trigger-text text-white">
                      You Can Join Our Affilate Program And Get 25% Referral Bonus Instantly On Each Customer You Provide
                      We Are Devoted to Bringing The Web To Your Doorstep
                  </p>

                  <a href="#" class="btn btn-white-o btn-rounded" data-toggle="modal" data-target="#get-in-touch">Get In Touch <i class="fa fa-play"></i> </a>

              </div>

          </div>
      </div>
  </section>
  <%= render 'shared/features' %>
  <%= render 'shared/bottom' %>
